<div class="card">
  <div class="card-header text-center">
    <h3>Gibberish Anagram using Angular</h3>
  </div>
  <div card="card-body">
    <div class="form=group">
      <input [(ngModel)]='stringInput' type="text" name="stringInput" class="form-control">
    </div>
    <button class="btn btn-success" (click)="generateAnagrams()">
      Generate Anagrams
    </button>
  </div>
  <div class="card-footer">
    <h4>
      The Gibrrish Anagram of {{stringInput}} is
    </h4>
    <small *ngIf="result.length == 0; else hasEntries">
      Enter text in textbox and click on Generate Anagrams.
    </small>
    <ng-template #hasEntries>
      <p *ngFor="let entry of result">
        {{entry}}
      </p>
    </ng-template>
  </div>
</div>